$title-font:'Shrikhand', cursive;
$text-font:'Roboto', sans-serif;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;


// ========================== LIKE ============================
.fa-heart {
    margin-right: 25px;
 }
 .heart-full {
    display: none;
 }
 .full i {
     position: absolute;
     bottom: 35px;
     right: 0px;
     cursor: pointer;
     transition: 200ms ease;
     padding: 0;
     margin-right: 30px;
 }
 .full {
     opacity: 1;
    }
 .full--full{
     opacity: 0;
     color: #C968DB;
 }
 .heart-full:checked ~ .full .full--empty {
     opacity: 0;
   }
   .heart-full:checked ~ .full .full--full {
     opacity: 1;
     transition: 200ms ease;
   }

//    =========================== SLIDE MENU =====================
.menu--container {
    overflow: hidden;
}
.entrée, .plats, .dessert {
    animation: slide-in normal forwards ease-in-out 800ms;
}

.plats {
    animation-delay: 500ms;
}
.dessert {
    animation-delay: 1000ms;
}
@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
// ========================== ANIMATION VALIDÉ HOVER =========
.fa-circle-check {
    color: white;
}

.plat h3, .ingredient {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.plat--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease-in-out;
    overflow: hidden;
}
.plat:hover .plat--content {
    width: 60%;
}
.slide {
    display: flex;
    transition: all 500ms ease-in-out;
    justify-content: center;
}
.plat:hover .slide {
    margin-right: 75px;
   
}
.plat:hover .check {
    transform: translateX(0);

}

.check {
    background-color: $tertiary-color;
    position: absolute;
    top: 0;
    right: 0;
    height: 75px;
    width: 75px;
    border-radius: 0 15px 15px 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    transform: translateX(75px);
}
// ======================= LOADER ======================
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    animation: loaderEnd 0.3s ease-in-out 2s forwards;
}
@keyframes loaderEnd {
    0%, 80% { 
        opacity: 1;
        visibility: visible;
    }
    100% { 
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
  }

#loader i {
    font-size: 50px;
    color: $primary-color;
    animation: repeat-color 1.5s ease 500ms 1 forwards;
}
@keyframes repeat-color {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        color: $tertiary-color;
    }
}

.loader-anim {
    opacity: 0;
    animation: showContent 2.5s ease-in forwards;
}

@keyframes showContent {
    0%, 80% { opacity: 0; }
    100% { opacity: 1; }
  }