@use 'header';
@use 'restaurant';
@use 'restaurant-menu';
@use 'background';
@use 'footer';
@use 'navigation';
@use 'fonctionnement';
@use 'button';

$title-font:'Shrikhand', cursive;
$text-font:'Roboto', sans-serif;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #353535;
}

body {
    font-family: 'Roboto', sans-serif;
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        main {
            width: 100%;
        }  
    }
}  

h2 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
}
section {
    margin: 50px 0;
}